
body {
    color: #f0dfaf;
    background: #333940;
}

/* LAYOUT */
.post .date, .quote .date, .bookmark .date {
	float: left;
	padding: .3em .4em .3em 1.2em;
	color: #dfe4cf; 
	background: #000d18;
	margin: 0.3em 0  0 -6.0em;
	width: 3.8em;
}
.post .teaser{ border-bottom: solid 1.0em #633709;}

/* TYPE */
h4{ color: #efefaf;}
#right-rail p, #right-rail ul{ color: #dac694;}

/* LINKS */
a:link, a:visited {
    color: #dfe4cf;
}
a:hover { color: #a3cacc; }
h2 a:link, h2 a:visited{ color: #dac694;}
h2 a:hover { color: #a3cacc;}

pre{ background-color: #dac694;}

ul.recent-posts li
{
    color: #633709;
}

.post li{ color: #b3b3a1;}

.filter-title {
    background-color: #333940;
    color: #efefaf;
}

/* FOOTER */
#footer {
    text-align: center;
}
